
body {
  background-image: url("https://i.dailymail.co.uk/1s/2019/01/19/00/8715018-0-image-a-32_1547857542694.jpg");

}

.game__over {
   background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fimgflip.com%2Ftag%2Ffunny%2Bhawk&psig=AOvVaw0xhBDXRviN0aWsvWDcdz79&ust=1600447128173000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLj1mqvQ8OsCFQAAAAAdAAAAABAD");
 }

div {
  text-align: center;
}

h1 {
  color: red;
}

h2 {
  color: blue;
  background-color: white;
}

button {
  

  color: pink;
  background-color: green;
}
