
body {
  background-image: url("https://i.dailymail.co.uk/1s/2019/01/19/00/8715018-0-image-a-32_1547857542694.jpg");

}



div {
  text-align: center;
}

h1 {
  color: red;
  font-family: 'Bangers', cursive;
  font-size: 3rem;
}
h2 span { 
  background-color: white; 
  border-radius: 20px;
  padding: 2px;
}

h2 {
  color: blue;
  /* background-color: white; */
  font-size: 1.2rem;
  
}

button {
  /* width: 20%; */
  font-size: 30px;
  color: white;
  background-color: hsl(156, 100%, 31%);
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
  border: 3px solid hsl(179, 98%, 62%);
  font-family: 'Comic Neue', cursive;
}

input {
  width: 20%;
  font-size: 30px;
  color: white;
  background-color: hsl(156, 100%, 31%);
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
  border: 3px solid hsl(179, 98%, 62%);
  font-family: 'Comic Neue', cursive;
}

label {
  color: hsl(195, 100%, 18%);
  /* background-color: hsl(69, 88%, 74%); */
  font-size: 2rem;
  border-radius: 20px;
  padding: 2px;
}

#placeholder {
font-size: 1rem;

}
